<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calvin Crawford</title>
	</head>
	<body>
		<h1> 
            Calvin Crawford
        </h1>
		<img src="https://media4.giphy.com/media/40Fpxgn6Yq640/giphy.gif?cid=ecf05e47b8c9f800wzhb9a5gubajs8u3lya898jz3cm0xsqv&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="rainbow unicorn">
	</body>
</html>